@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Book Italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Demi.otf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Demi Italic.otf');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Bold Italic.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Light.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Light Italic.otf');
    font-weight: lighter;
    font-style: italic;
}