@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Book.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Book Italic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Demi.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Demi Italic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Bold Italic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Neutraface Text;
    src: url('../fonts/Neutraface Text Light Italic.otf');
    font-weight: 300;
    font-style: italic;
}